form {
    padding: 1rem;
    .displayFlex(column, center, center);
    
    label {
        .displayFlex();
        p {
            padding:1rem;
        }
    }

    input {
        font-size: 1.75rem;
        align-self: center;
        border-radius: 1rem;
    }

    .error {
        font-size: 2rem;
        color:red;
        padding:2rem;
    }
}