.wishlist {
    .displayFlex(row, space-evenly, center, wrap);
}

.viewList {
    .displayFlex(column, center, center);
}

.editList {
    .displayFlex(column, center, center);
    
    .add { 
        width:20rem;
        padding:0.75rem
    }
     .gift:hover{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     }
}

.indexList {
    .displayFlex(column, center, center);
    padding-top: 2rem;
}

.gift {
    background-color: @gift-background-color;
    margin: 2rem;
    padding: 1rem;
    width:40%;
    height: 25rem;
    border: 0.3rem solid @gift-border-color;
    border-radius: 1rem;
    .displayFlex(column, flex-start, center, wrap);
    h3 {
        text-align:center;
        font-size: 3rem;
        padding-bottom: 1rem;
    }
    p { 
        font-size: 2rem;
    }
    button { 
        margin: 0.5rem;
    }
    a {
        padding-bottom: 1rem;
    }
    .purchased {
        font-size: 2rem;
        color:red;
        padding-top: 1rem;
    }
}