/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #37312C;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #37312C;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 2.5rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
button {
  color: #701916;
  font-size: 2rem;
  padding: 1rem;
  border: 2px solid #701916;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}
button:hover {
  color: #C73529;
  border-color: #C73529;
  border-radius: 5rem;
  transition: all 0.3s ease 0s;
}
a {
  font-size: 2.5rem;
  color: #F7F7F9;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.viewLinks {
  width: 100%;
  margin: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}
.viewLinks a {
  width: 35%;
  padding: 2rem;
}
hr.solid {
  width: 75%;
  margin: 2rem;
  border-top: 3px solid #37312C;
}
.App {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  background-color: #F7F7F9;
}
body {
  background-color: #F7F7F9;
}
nav {
  width: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: #701916;
}
nav a {
  color: #F7F7F9;
}
form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
form label {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
form label p {
  width: 17rem;
  padding: 1rem;
}
form input {
  width: 60%;
  font-size: 1.75rem;
  align-self: center;
  border-radius: 1rem;
}
form .error {
  font-size: 2rem;
  color: red;
  margin: 2rem;
}
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.register .note {
  font-size: 1.5rem;
}
.register button {
  width: 20rem;
}
.home {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.familyMembers {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.familyMembers a {
  color: #701916;
}
.wishlist {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.viewList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.editList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.editList .add {
  width: 20rem;
  padding: 0.75rem;
}
.editList .gift:hover {
  background-color: #C73529;
  border-radius: 5rem;
  transition: all 0.3s ease 0s;
}
.editList .gift:hover h3 {
  color: #F7F7F9;
}
.editList .gift:hover p {
  color: #F7F7F9;
}
.editList .gift:hover a {
  color: #37312C;
}
.indexList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding-top: 2rem;
}
.gift {
  background-color: #AFA2A5;
  margin: 2rem;
  padding: 1rem;
  width: 45%;
  height: 25rem;
  border: 0.3rem solid #701916;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  transition: all 0.3s ease 0s;
}
.gift h3 {
  text-align: center;
  font-size: 3rem;
  padding-bottom: 1rem;
}
.gift p {
  font-size: 2rem;
}
.gift button {
  margin: 0.5rem;
}
.gift a {
  padding-bottom: 1rem;
}
.gift .purchased {
  font-size: 2rem;
  color: #C73529;
  padding-top: 1rem;
}
@media (max-width:500px) {
  .App {
    max-width: 100%;
  }
  .viewLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  .viewLinks a {
    width: 100%;
  }
  .familyMembers {
    text-align: center;
  }
  .home {
    text-align: center;
  }
  .login {
    width: 100%;
  }
  .register {
    width: 100%;
  }
  nav {
    padding: 1rem;
  }
  nav a {
    padding: 0.5rem;
  }
  .gift {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .gift p {
    text-align: center;
  }
}
